body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend';
}

.header-gradient {
    position: absolute;
    top: -50px;
    left: -75px;
    z-index: -1;
}

p {
    margin: 0;
}

main {
    display: flex;
    max-width: 100%;
    flex-direction: column;
}

header {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.header-nav, .nav-list, .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    max-width: 10%; 
    height: auto;
    margin: 1% 2%;
}

.nav-button, .nav-button-sign-up {
    padding: 0.75em 1em; 
    font-size: 1vw; 
}

.header-nav {
    justify-content: space-between;
}

.header-logo {
    margin-right: 10%; 
    margin-top: 2%;
}

.nav-menu {
    list-style-type: none;
    margin-right: 24px;
}

.nav-list {
    display: flex;
    flex-direction: row;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
}

.nav-button {
    color: #F0F3FD;
    cursor: pointer;
    font-weight: 600;
    background-color: transparent;
    border-radius: 32px;
    border: 1px solid #FFFFFF4D;
    padding: 8px 16px 8px 16px;
    z-index: 1;
}

.image-up {
    min-width: 100%;
    position: relative;
    margin-top: -120px;
    margin-right: -10px;
    z-index: -1;
}

.nav-button-sign-up {
    margin: 0;
    width: 107px;
    height: 46px;
    border-radius: 32px;
    background-color: #D1FAE5;
    border: 0;
    font-weight: 600;
    font-size: 14px;
    color: #047857;
    cursor: pointer;
}

.main-section-heading {
    width: 50%;
    margin-left: 5%;
}

.main-heading {
    color: #1B1C57;
    font-weight: 600;
    font-size: 40px;
    width: 496px;
    line-height: 50px;
    margin-top: 96px;
}

.text-under-heading {
    
    color: #626687;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    width: 496px;
    height: 56px;
}

.input-form {
    position: relative;
    display: inline-block;
    margin-bottom: 32px;
}

.location-input {
    width: 496px;
    border-radius: 32px;
    border: 1px solid #E0E3EB;
    height: 56px;
    z-index: -1;
    margin-top: 32px;
    padding-left: 64px;
}

.dot-image {
    position: absolute;
    position: absolute;
    top: 49px;
    left: 27px;
    z-index: 1;
}

.location-button {
    position: absolute;
    top: 38px;
    z-index: 1;
    right: 4px;
    width: 109px;
    height: 48px;
    border-radius: 32px;
    border: none;
    background-color: #10B981;
    color: white;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
}

.button-image {
    margin-left: 13px;
}

.partners-text {
    color: #888B97;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

.images-row {
    display: flex;
    flex-direction: row;
    width: 427px;
    align-items: center;
    justify-content: start;
    gap: 16px;
}

.people-article {
    border-radius: 32px;
    height: 42px;
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 24px;
    position: absolute;
    top: 80%;
    left: 5%;
    justify-content: center;
}

.text-div {
    justify-content: center;
    align-items: center;
}

.heading-article {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.text-article {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #68799F;
}

.image-section {
    position: relative;
    display: flex;
    width: 50%;
}

.main-header {
    display: flex;
    flex-direction: row;
}

.second-image-section {
    position: absolute;
    top: 80%;
    left: 52%;
    width: 152px;
    height: 42px;
    background-color: white;
    border-radius: 32px;
    padding: 24px;
    display: flex;
    flex-direction: row;
}

.third-image-section {
    position: absolute;
    top: 80%;
    left: 82%;
    width: 90px;
    height: 42px;
    background-color: white;
    border-radius: 32px 0 0 32px;
    padding: 24px;
    display: flex;
    flex-direction: row;
}

.recommended-section {
    overflow-x: hidden;
    margin-top: 120px;
}

.recommended-section-heading {
    position: relative;
    width: 293px;
}

.recommended-line {
    position: absolute;
    top: 13%;
}

.recommended-section-text {
    padding-left: 13%;
    font-weight: 500;
    font-size: 14px;
    color: #F59E0B;
}

.recommended-h2 {
    margin: 0;
    padding-left: 13%;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #1B1C57;
}

.navigation-recommended {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    width: 493px;
}

.header-recommended {
    justify-content: space-between;
    margin-bottom: 40px;
}

.type-button {
    border-radius: 32px;
    padding: 12px 24px;
    gap: 8px;
    border: none;
    font-weight: 500;
    font-size: 18px;
}

.button-one {
    cursor: pointer;
    background-color: #D1FAE5;
    color: #10B981;
}

.button-last {
    cursor: pointer;
    background-color: #E0E3EB;
    color: #888B97;
}

.navigation-button {
    cursor: pointer;
    border-radius: 32px;
    padding: 12px 16px;
    width: 60px;
    height: 52px;
    margin-left: 15px;
    border: none;
}

.recommended-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 7%;
    width: 100%;
    margin-bottom: 120px;
}   

.recommended-main-heading {
    font-weight: 500;
    font-size: 24px;
    color: #0E1735;
}

.recommended-price {
    font-weight: 500;
    font-size: 20px;
    color: #3C4563;
}

.person-info {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.full-person-info {
    margin-top: 24px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
}


.persons-name {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #0E1735;
}

.persons-location {
    margin: 0;
    color: #888B97;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
}

.one-house-description {
    width: 84%;
    margin-left: 8%;
    position: relative;
}

.ready-to-sell-text {
    color: #F59E0B;
    font-weight: 500;
    font-size: 14px;
    line-height: 17.5px;
    margin-left: 3%;
}

.desc-line {
    position: absolute;
    top: 1.5%;
    left: -2%;
}

.ready-to-sell-heading {
    color: #1B1C57;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    margin-left: 3%;
}

.ready-to-sell-paragraph {
    color: #626687;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-left: 3%;
}

.detail-house {
    color: #1B1C57;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    margin-left: 3%;
}

.images-table {
    display: flex;
    flex-direction: row;
}

.column {
    margin-top: 16px;
    margin-left: 3%;
    display: flex;
    gap: 16px;
    margin-right: 53px;
    flex-direction: column;
    margin-bottom: 32px;
}

.element-in-column {
    align-items: center;
    display: flex;
    gap: 16px;
    flex-direction: row;
    justify-content: start;
}

.desp-detail {
    color: #3C4563;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.separator {
    width: 440px;
    margin-left: 3%;
}

.person-contact {
    align-items: center;
    justify-content: start;
    margin-top: 32px;
    display: flex;
    flex-direction: row;
}

.avatar-person {
    margin-right: 24px;
}

.name-and-work {
    display: flex;
    flex-direction: column;
}

.name-person {
    color: #0E1735;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
}

.work-person {
    color: #888B97;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px; 
    margin-top: 4px;
}

.contact-button {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 8px; 
    margin-left: 59px;
    background-color: #10B981;
    color: white;
    border-radius: 32px;
    padding: 12px 16px;
    border: none;
    cursor: pointer; 
    text-decoration: none;
}


.video-house {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.video {
    width: 488px;
    height: 416px;
    position: relative;
    margin-right: 120px;
}

.first-picture {
    position: absolute;
    top: 320px;
    left: -30px;
}

.video-image {
    position: relative;
}

.second-picture {
    position: absolute;
    top: 408px;
    left: 280px;
}

.third-picture {
    position: absolute;
    top: 408px;
    left: 390px; 
}

.review-header {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 120px;
}

.review-small-text {
    color: #F59E0B;
    font-weight: 500;
    font-size: 14px;
    line-height: 17.5px;
}

.review-heading {
    color: #1B1C57;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 16px;
    line-height: 25px;
}

.articles-review {
    display: flex;
    flex-direction: row;
    overflow: hidden; 
    margin: 0 auto;
    margin-bottom: 120px;
    padding: 20px;
    gap: 20px;
    justify-content: center;
}

.article-container {
    width: calc(50% - 40px);
    margin: 20px;
    flex: none; 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 400px;
    transition: transform 0.5s ease; 
}


.article-image {
    width: 100%; 
    height: 400px; 
    object-fit: cover; 
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.review-text {
    position: absolute;
    background-color: white;
    border-radius: 16px;
    padding: 20px;
    top: 226px; 
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 48px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
    height: 40%; 
}


.review-content {
    font-size: 14px;
    font-weight: 400;
    color: #626687;
    margin-bottom: 16px;
}

.score-star {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.score-text {
    color: #3C4563;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}

.contact-info {
    width: 548px;
    margin-left: 32px;
    margin-top: -10px;
    display: flex;
    align-items: center;
}

.reviewer-image {
    margin-top: 10px;
}

.name-job {
    flex-grow: 1;
}

.name-review {
    font-weight: bold;
    margin-bottom: 4px;
}

.job {
    color: #888B97;
    font-size: 14px;
}

.rating {
    background-color: #ffd700; 
    color: white;
    padding: 4px 8px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
}

.tips-header {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.tips-p {
    color: #F59E0B;
    font-weight: 500;
    font-size: 14px;
    line-height: 17.5px;
    margin-top: 8px;
}

.tips-heading {
    color: #1B1C57;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
}

.green-button {
    background-color: #10B981;
    color: white;
    border-radius: 32px;
    border: none;
    padding: 12px 16px;
    gap: 16px;
    width: 118px;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
}

.main-tips {
    margin-top: 42px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px; 
}

.left-column {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.big-tip {
    flex: 1;
}

.tip-article {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.info-post {
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.row-name {
    height: 82px;
    display: flex;
    flex-direction: row; 
}

.paragraph-name {
    margin-left: 0;
    margin-top: 21px;
    color: #3C4563;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.tips-article-header {
    color: #1B1C57;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    margin-top: -28px;
    margin-left: 32px;
}

.time {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 32px;
    gap: 12px;
    margin-top: -12px;
}

.tips-name {
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: center;
    margin-left: -5%;
}

.big-tip-p {
    margin-bottom: 20px;
    color: #3C4563;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.tips-heading {
    margin: 0;
    color: #1B1C57;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 12px;
}

.tips-paragraph {
    color: #626687;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.tips-time {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    margin-top: 16px;
}

.tips-time-text {
    color: #888B97;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.email-section {
    margin-top: 120px;
    border-radius: 32px;
    background-image: url("./images/email_picture.jpg");
    background-size: cover; 
    background-position: center; 
    margin-left: auto;
    margin-right: auto; 
    height: auto; 
    width: 85%; 
    max-width: 1300px; 
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px; 
}

.email-heading {
    color: #1B1C57;
    font-weight: 600;
    font-size: clamp(24px, 2.5vw, 32px); 
    line-height: 1.5;
    text-align: center;
    margin-bottom: 20px;
}


.footer-section {
    margin-top: 120px;
    margin-left: 5vw; 
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    max-width: 90%; 
    flex-wrap: wrap;
}


.logo-text {
    display: flex;
    flex-direction: column;
}

.footer-text {
    color: #626687;
    font-weight: 400;
    font-size: clamp(12px, 1vw, 14px); 
    line-height: 24px;
    margin-top: 16px;
    margin-right: 2vw; 
}

footer {
    overflow: hidden;
}

.social-medias {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 24px;
    margin-bottom: 120px;
}

.social-medias img {
    width: clamp(20px, 2vw, 24px); 
    height: auto;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    margin-right: 2vw;
}

.footer-heading {
    color: #0E1735;
    font-weight: 600;
    font-size: clamp(16px, 1.5vw, 18px);
    line-height: 22.5px;
}

.footer-link {
    color: #888B97; 
    text-decoration: none; 
    background-color: transparent; 
    font-weight: 400;
    line-height: 17.5px;
    font-size: clamp(12px, 1.2vw, 14px);
    margin-top: 1vw;
}

.custom_photo {
    width: 340px;
    height: 382px;
    border-radius: 24px;
    
}

.parent-photo {
    position: relative;
}

.label {
    position: absolute;
    top: 328px;
    left: 16px;
}

.gradient_middle {
    position: absolute;
    top: 1452px;
    right: 0;
}

.yellow_gradient_middle {
    position: absolute;
    top: 1574px;
    right: 0;
}

.green_gradient_upper {
    position: absolute;
    top: 2630px;
    left: -50px;
    z-index: -1;
}

.light_green_gradient {
    position: absolute;
    top: 2787px;
    left: -50px;
    z-index: -1;
}

.green_footer_gradient {
    position: absolute;
    top: 4050px;
    right: 0;
    z-index: -1;
    overflow: hidden;
}

.blue_footer_gradient {
    position: absolute;
    top: 4000px;
    right: 0;
    z-index: -1;
    overflow: hidden;
}

.three_angles {
    position: absolute;
    top: 15px;
    z-index: 5;
    left: 84px;
}

